@import "../../../scss/variables";
@import "../../../scss/responsive";

header {
  width: 100%;
  display: flex;
  position: sticky;
  background-color: $black;
  justify-content: center;
  align-items: center;
  height: 8.5rem;
  top: 0;

  @include responsive(mobile-large) {
    height: 65vw;
    background-color: $dark-black;
  }
}

nav {
  gap: 1.5rem;
  display: flex;

  li {
    list-style-type: none;
  }

  .active {
    svg {
      stroke: $red;
    }
  }

  @include responsive(mobile-large) {
    border-radius: 2rem;
    padding: 2vw 5vw 1vw 5vw;
    background-color: $red;
    gap: 10vw;

    .active {
      svg {
        stroke: $black;
      }
    }
  }
}

.header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  max-width: $portatil-large;
  align-items: center;
  height: 70%;

  &--logo {
    font-size: 2.5rem;
    transition: color 0.5s ease;
    font-weight: 900;

    &:hover {
      color: $red;
    }

    @include responsive(mobile-large) {
      font-size: 18vw;
    }
  }

  &--nav-icon {
    height: 2.5rem;
    cursor: pointer;
    transition: stroke 0.5s ease;
    stroke: $white;
    fill: none;

    &:hover {
      stroke: $red;
    }

    @include responsive(mobile-large) {
      height: 10vw;

      &:hover {
        stroke: $black;
      }
    }
  }

  @include responsive(mobile-large) {
    gap: 5vw;
    justify-content: center;
    flex-direction: column;
  }
}
