@import "../../../scss/variables";
@import "../../../scss/responsive";

.register-form-container {
  width: 100%;
  align-items: center;
  height: calc(100vh - 8.5rem);
  justify-content: center;
  display: flex;

  &__content {
    width: 45rem;
    display: flex;
    justify-content: center;
    background-color: $dark-black;
    flex-direction: column;
    align-items: center;
    height: 45rem;
    gap: 2rem;

    &--title {
      font-size: 2.5rem;
    }

    &__form {
      width: 60%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;

      &__field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-size: 1.5rem;
        }

        input {
          height: 2rem;
          padding-left: 0.5rem;
          border: 0.2rem solid $dark-black;
          transition: 0.5s ease;
          font-weight: 300;
          font-size: 1rem;
          outline: none;

          &:focus {
            border-color: $red;
          }

          @include responsive(mobile-large) {
            font-size: 0.8rem;
          }
        }

        &--submit {
          height: 2.5rem;
          cursor: pointer;
          background-color: $red;
          font-size: 1.2rem;
          color: $white;
        }
      }

      @include responsive(tablet-standard) {
        width: 80%;
      }
    }

    @include responsive(tablet-standard) {
      width: 90%;
    }

    @include responsive(mobile-large) {
      height: calc(100vh - 85vw);
    }
  }

  @include responsive(mobile-large) {
    height: calc(100vh - 65vw);
  }
}
