@import "./scss/variables";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: $black;
  color: $white;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
}
